<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Repast_Website</title>
    <base href="~/" />

    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/app.css" asp-append-version="true" />
</head>
<body style="background-color: #fafafa;">
    <div class="ui container" style="padding-top: 25px; padding-bottom: 25px;">
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
